#root {
  max-width: 1280px;
  text-align: center;
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.section-with-gradient {
  /* Define el tamaño, posición y otros estilos aquí */
  background-image: linear-gradient(
    315deg,
    hsl(300deg 32% 12%) 0%,
    hsl(300deg 32% 14%) 7%,
    hsl(300deg 32% 16%) 10%,
    hsl(300deg 32% 18%) 12%,
    hsl(300deg 32% 20%) 15%,
    hsl(300deg 32% 21%) 17%,
    hsl(300deg 31% 22%) 20%,
    hsl(300deg 31% 24%) 23%,
    hsl(300deg 31% 25%) 25%,
    hsl(300deg 31% 26%) 28%,
    hsl(300deg 31% 26%) 31%,
    hsl(300deg 31% 25%) 35%,
    hsl(300deg 31% 24%) 38%,
    hsl(300deg 31% 22%) 42%,
    hsl(300deg 32% 21%) 47%,
    hsl(300deg 32% 20%) 52%,
    hsl(300deg 32% 18%) 58%,
    hsl(300deg 32% 16%) 65%,
    hsl(300deg 32% 14%) 75%,
    hsl(300deg 32% 12%) 100%
  );
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.icon-react{
  width: 60px;
}

.column{
  display: flex;
  flex-direction: column;
  background-color: #F6F8FC;
  width: 400px;
  min-height: 100px;
  padding: 24px 12px;
  border-radius: 8px;
  border-top: 7px solid;
  box-shadow: 0 8px 16px rgba(#333, 0.1);
}

.column--1{
  border-color: #FF9E4A;
}

.column--1 .title{
  color: #FF9E4A;
}

.column--2{
  border-color: #C56BE2;
}

.column--2 .title{
  color: #C56BE2;
}

.column--3{
  border-color: #6FD2AF;
}

.column--3 .title{
  color: #6FD2AF;
}

/* DRAG AND DROP */
.drag-and-drop{
  display: flex;
  grid-gap: 40px;
}

.dd-zone{
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 16px;
  height: 100%;
  width: 100%;
  min-height: 300px;
  margin-top: 50px;
}

.contenedor-opacidad {
  background-color: rgba(255, 255, 255, 0.2); 
}

.containt-father:hover img{
  opacity: 1;
}

.dd-element{
  font-size: 18px;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 26px 20px;
  cursor: pointer;
  color: #5b5b73;
}

.dd-element .body{
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 0;
}